.form-row {
  display: flex;
  flex-wrap: wrap;
}

.modal-header,
.alert {
  .close {
    padding: 0.3rem 1.75rem;
    background: transparent;
    border: 0;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: .4;
    width: 1em;
    height: 1em;
    z-index: 2;

    button {
      display: none;
    }
  }
}

.custom-radio {
  .custom-control-input {
    appearance: none;
    width: $form-check-input-width;
    height: $form-check-input-width;
    background-color: $form-check-input-bg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: $form-check-input-border;
    vertical-align: middle;


    &[type="radio"] {
      // stylelint-disable-next-line property-disallowed-list
      border-radius: $form-check-radio-border-radius;

      &:focus {
        outline: none;
      }
    }

    &:checked {
      background-color: $form-check-input-checked-bg-color;
      border-color: $form-check-input-checked-border-color;

      &[type=radio] {
        background-image: escape-svg($form-check-radio-checked-bg-image);
      }
    }

  }

  .custom-control-label {
    margin-left: 10px !important;
  }

}


.custom-checkbox {
  .custom-control-input {
    appearance: none;
    width: $form-check-input-width;
    height: $form-check-input-width;
    background-color: $form-check-input-bg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: $form-check-input-border;
    vertical-align: middle;
    border-radius: 3px;

    &[type="checkbox"] {
      &:focus {
        outline: none;
      }
    }

    &:checked {
      background-color: $form-check-input-checked-bg-color;
      border-color: $form-check-input-checked-border-color;

      &[type=checkbox] {
        background-image: escape-svg($form-check-input-checked-bg-image);
      }
    }

  }

  .custom-control-label {
    margin-left: 10px !important;
  }
}

//modal
.modal-backdrop {
  opacity: 0.3;
}

//Snow Editor
.ql-container {
  height: 250px !important;
}

body {
  * {
    outline: none;
  }
}